<h2>Research Interest</h2>
<p>Hello! I'm a Master's student at Yonsei University, interested in AI as a social agent. I love exploring new experiences and believe that technology constantly reveals new opportunities and needs.</br>
</br> - NLP
</br> - Social Simulation
</br> - Reinforcement Learning
</br> - Data Visualization </p>


<h2>Publications</h2>
<ul>
  <li>Personality Testset for LLMs <a href="https://arxiv.org/abs/2406.14703"> (Seungbeen et al, 2024) </a> </li>
  <li>CBT Counselor LLM <a href="https://arxiv.org/abs/2407.03103"> (Suyeon et al, 2024) </a> </li>
</ul>

<h2>Background</h2>
<p> 
  - B.A (Yonsei Univ. Psychology and Economics)
</br>
 - M.S (Yonsei Univ. AI, advised by <a
  href="https://scholar.google.co.kr/citations?user=WDO24ZYAAAAJ&hl=ko"
  target="_blank"
  >Youngjae Yu</a
>) </p>


<p>For more information, please visit my personal site <a href="https://github.com/seunbite">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/seunbite">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com/citations?user=YdbC5yUAAAAJ&hl=ko&oi=sra">Google Scholar</a>
  </li>
</ul>
